@media screen and (max-width: 1024px) {
    .dropdown{
        display: none;
    }
    
    .open{
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: white;  
    }
    
  }